@reference "../tailwind.css";

.apps-layout {
  @apply w-screen h-screen flex justify-center overflow-hidden;
}

.inner {
  @apply w-[480px] h-screen overflow-x-hidden overflow-y-auto bg-white relative;
}

.footer {
  @apply relative mx-auto w-11/12 lg:w-1/3 z-10;
}

.bottom-bar {
  @apply fixed w-fit text-center left-1/2 p-1 -translate-x-1/2 flex justify-center gap-1 items-center;
}

.visible-navbar {
  @apply bottom-4;
  transition: all 0.4s ease-out;
}

.hidden-navbar {
  bottom: -80px;
  transition: all 0.4s ease-out;
}

.menu-icon {
  @apply rounded-xl flex justify-start items-center gap-1 z-[2] bg-white/90 cursor-pointer;
}
